{% extends 'SmartClassroomBundle:Default:index.html.twig' %}

{% block template_content %}

    {#<div class="container-fluid">#}

    <div class="container-fluid">
        <h1>List all collections</h1>

        <a href="{{ url('create_collection') }}">Create collection</a>

    </div>
    <hr>
    {#</div>#}
    <!-- /.container-fluid -->
{% endblock %}